# gitignore template for AWS Serverless Application Model project
# website: https://docs.aws.amazon.com/serverless-application-model

# Ignore build folder
.aws-sam/

# Ignore __pycache__ in the app directory
src/app/__pycache__/*
.pytest_cache
latest_logs
archived_logs

